@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent text selection on all touchable elements */
button,
[role="button"] {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}